body {
    font-family: 'Karla', sans-serif;
    margin: 0;
    color: rgb(46, 46, 46);
    background-color: #f5f4ef;
}

.github-link {
    padding: 5px 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

span {
    font-size: 1.3rem;
}

.logo {
    width: 350px;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    width: 100%;

}

.feature-img-box {
    position: relative;
    width: 50%;
    height: 450px;
}

.feature-img,
.feature-graphic {
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.graphic-1,
.graphic-2,
.graphic-3,
.graphic-4,
.graphic-5 {
    position: absolute;
    z-index: -1;

}

.graphic-1 {
    left: -40px;
    bottom: -40px;
}

.graphic-2 {
    height: 350px;
    right: 10px;
    top: 10%;
}

.graphic-3 {
    left: -40px;
    top: -40px;
}

.graphic-4 {
    right: 10px;
    bottom: -40px;
}

.graphic-5 {
    left: -40px;
}

.graphic-1+img {
    box-shadow: 10px -4px 20px 3px #706f6a18;
}

.feature-content {
    width: 50%;
}

.feature-content h2 {
    font-size: 1.8rem;
}

.feature-content p {
    width: 400px;
    font-size: 1.4rem;
    line-height: 1.6;
}

.container,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 50px;
    box-sizing: border-box;
}

.container>h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 4px;
    text-align: center;

}

.container>p,
.conatact-header p,
label,
footer p {
    font-size: 1.2rem;
    font-weight: 400;
}

.contact {
    margin-top: 1rem;
    background-color: #9bcbbb;
}

.contact .container {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.conatact-header {
    text-align: center;
}

.conatact-header h3 {
    font-size: 1.5rem;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-row {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.contact-input {
    display: flex;
    flex-direction: column;

}

.contact-row .contact-input {

    width: 48%;
}

.contact input,
.contact textarea {
    border: none;
    background: transparent;
    border-bottom: 2px solid rgb(58, 58, 58);
    padding: 7px 2px;
}

.contact-input {
    width: 100%;
    margin-top: 40px;
}

.contact form button {
    margin-top: 2rem;
    align-self: flex-end;
    border: 2px solid rgb(58, 58, 58);
    background-color: transparent;
    padding: 1rem 1.5rem;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
}

footer p {
    text-transform: capitalize;
    margin: 10px 0;
}

footer a {
    color: rgb(58, 58, 58);
}

.social-icons {
    display: flex;
    justify-content: space-between;
    width: 13%;
    margin: 1rem;
}


.icon svg {
    width: 28px;
    fill: rgb(58, 58, 58);
}

@media screen and (max-width: 780px) {
    .social-icons {
        width: 23%;
    }
}

/*  RESPONSIVE : MOBILE VERSION  */

/*
      * in real life, Always start coding  the Mobile version First (Mobile First Approach)
      * then the Tablet and then the Desktop version
      * 
      * we don't need to change anything in the HTML file
        * we just need to add the media queries in the CSS file
      * see the acctual website there is two columns the first one is the image and the second one is the content (text)
        * so we need to change the flex-direction to be just one column in mobile version
        * we need to change the width of the image and content to be 100% in mobile version
        * you can play with image height to make it fit your needs
        *so things that we need to change :
            * 1- flex-direction
            * 2- width of the image and content
            * 3- image height
            * 4- padding & margin of the containers and boxs
            * 5- font-size


     test the website in different devices to make sure that everything is working fine
    i'm using the chrome dev tools to test the website in different devices
    in this cas i'm only use iphone 12/13 pro max  (428px width and 926px height) there are some small 
    differences between other devices (not in all cases)
     
*/


/* here this means that we want tp apply this style only for devices with width less then 428px*/
@media screen and (max-width: 428px) {

    /*we see that github bar and the image under it are fine we dont need
    to change anything 
   */

    /* change the container to column direction 
       and update the margin   
   */
    .feature {
        flex-direction: column;
        margin: 2rem 0;
    }

    /*
    in desktop version we have some images on the left and content on the right and in 
    other cases we have contrary we can use the order property to change the order of the elements
    and make sure that the image is always on the top
    
    */
    .feature-img-box {
        width: 100%;
        height: 400px;
        order: 1;
    }

    .feature-img,
    .feature-graphic {
        width: 100%;
        height: 400px;
    }

    .feature-content {
        width: 100%;
        margin-top: 2rem;
    }

    .feature-content h2 {
        font-size: 1.5rem;
    }

    .feature-content p {
        width: 100%;
        font-size: 1.2rem;
    }

    .container {
        padding: 30px 20px;
    }

    .container>h2 {
        font-size: 1.5rem;
    }

    .container>p,
    .conatact-header p,
    label,
    footer p {
        font-size: 1rem;
    }

    .contact .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    /* here in contact section i make only one column*/
    .contact-row {
        flex-direction: column;
    }

    .contact-row .contact-input {
        width: 100%;
    }

    .contact form button {
        margin-top: 1rem;
        align-self: center;
    }

    .social-icons {
        width: 40%;
    }

    .social-icons a {
        margin: 0 0.5rem;
    }

    .social-icons svg {
        width: 20px;
    }
}

/*
and that's it for the mobile version
*/